body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px;
    font-weight: 900;
}

.elements {
    width: 95%;
    padding: 0% 2% 0% 2%;
    margin-bottom: 130px;
}

.m-item {
    text-align: center;
    padding-top: 0%;
}

.firstSec {
    background-image: linear-gradient(0deg, #000000e8, #00000052), url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 640px;
    padding-top: 10%;
}

.firstSec p {
    margin-bottom: 4%;
}

.mybtn {
    margin-top: 30px;
    text-decoration: none;
    color: white;
    background-color: crimson;
    padding: 15px 25px 15px 25px;
    font-weight: 900;
    border-radius: 5px;
}

.secondSec {
    width: 100%;
}

.secondSec h2 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 9%;
}

.price-sec {
    display: flex;
    width: 90%;
    padding-left: 7.5%;
    margin-top: 0%;
}

.price-sec p {
    font-family: arial;
    width: 25%;
    background-color: #bdbdbd38;
    padding: 80px 5px 80px 5px;
    margin-right: 5%;
    text-align: center;
    font-size: 35px;
    border-radius: 10px;
    font-weight: bolder;
    color: rgba(97, 97, 97, 0.678);
}

#seletedbtn {
    color: #dc143cc4;
    background-color: #dc143c18;
    border: 5px solid #dc143c6e;
}


.amountSec {
    margin: 0;
    padding: 0;
}

.amountSec h3 {
    margin-bottom: 40px;
    border-bottom: 1px solid #adadad;
    padding-bottom: 15px;
    color: gray;
}

.elements .d-plan {
    padding-top: 0%;
}

.d-plan h1 {
    font-size: 40px;
}

.d-plan h3 {
    color: #474747;
}

.d-plan h4 {
    color: black;
    font-weight: 400;
}

.d-head {
    padding-bottom: 4%;
}

.plan-model .plan-list {
    width: 27%;
    background-color: #ff000013;
    padding: 5% 2% 2% 2%;
    height: 270px;
    float: left;
    margin-right: 20px;
}

#planlist2 {
    background-color: #09ff001f;
}

#planlist3 {
    background-color: #ffff0028;
}

/*third Section complete hear*/

.des-area {
    display: flex;
    width: 90%;

}

.des-text {
    width: 50%;
    margin-left: 100px;
}

.des-text h2 {
    font-size: 35px;
}

.des-text h4 {
    width: 70%;
}

.des-text a {
    margin-top: 2%;
    float: left
}

.des-area img {
    width: 100%;
    padding-top: 5%;
}

.com-Sec {
    width: 80%;
    padding-left: 130px
}

.commentSec {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
}

.fivethSec {
    margin-left: 100px;
}

.fivethSec img {
    width: 100%;

}

.commImg {
    width: 15%;
    padding-right: 2%;
    padding-top: 2%;
}

.emailInp {

    background-color: antiquewhite;
    padding: 7%;
    padding-left: 35%;
}

.emailInp .mailinput {
    outline: none;
    padding: 15px 40px 15px 40px;
    border-radius: 6px;
    border: none;
    background-color: whitesmoke;
    color: crimson;
}

.emailInp a {
    color: white;
    background-color: crimson;
    padding: 15px 25px 15px 25px;
    border-radius: 6px;
    text-decoration: none;
}

footer {
    padding: 2%;
    background-color: #111111;
    color: white;
    text-align: center;
}

footer h1 {
    font-size: 35px;
    font-family: 'Finlandica', sans-serif;
    color: orangered;
}
